.may-panel {
  margin: 20px;


  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-chevron {
      img {
        width: 25px;
        height: 25px;
      }

      &.up {
          transform: rotateX(180deg);
      }
    }
  }
}

