.comment-card {
  max-width: 300px;
  margin: 10px 5px;

  .comment-text {
    font-size: 12px;
    margin-top: 10px;
  }

  .comment-name {
    font-size: 16px;
  }

  .comment-bg {
    background-color: gainsboro;
  ;
  }
}