.may-comment {
  max-width: 300px;
  margin: 10px 20px;
  padding: 10px;
  border: 0.5px lightgray solid;

  .comment-title {
    font-size: 14px;
  }

  .comment-body {
    display: block;
    font-size: 13px;
  }
}