.my-not-found{

  &-main-box {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }

  &-err {
    color: #7b1515;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }



  &-msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
    color: #840707;
  }

  a:hover {
    text-decoration: underline;
  }
}
