.may-post-card {
  max-width: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  padding-top: 20px;


  .may-post-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 150px;
  }

  .title {
    font-size: 16px;
  }

  .body {
    display: block;
    overflow-wrap: break-word;
  }
}