.may-post-card {
  max-width: 300px;
  margin: 10px;


  .may-post-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 150px;
  }

  .title {
    font-size: 16px;
    border-bottom: 1px solid grey;
    width: 100%;
  }

  .body {
    display: block;
    overflow-wrap: break-word;
    overflow-y: scroll;
    max-height:150px;
  }

}
