.may-post-card {
  max-width: 300px;
  margin: 10px;

  .may-post-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 150px;
  }

  .title {
    font-size: 16px;
  }

  .body {
    font-size: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blockquote {
    font-size: 12px;
    margin: 5px 0;
  }
}
.loadingspinner {
  margin: 20px auto;
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #3E67EC;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}
