.may-post-card {
  max-width: 300px;
  margin: 10px;

  .may-post-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 150px;
  }

  .title {
    font-size: 16px;
  }

  .body {
    font-size: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blockquote {
    font-size: 12px;
    margin: 5px 0;
  }

  button {
    margin: 0 15px 15px;
  }
}