.my-header {
  padding: 20px 0 ;
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo {
    height: 60px;
  }
  &-wrap{
    display: flex;
    &-link{
      margin: 10px;
      color: blue;
    }
  }

}