.may-header {
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 60px;
  }

  .active {
    text-decoration: underline;
    color: darkred;
  }

  &-links-wrapper {
    display: flex;

    &-link {
      margin: 0 10px;
    }
  }
}
.selected {
  text-decoration: underline;
  color: red;
}