.may-header {
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 60px;
  }

  .active {
    text-decoration: underline;
    color: darkred;
  }

  .btn {
    &.dark {
      background-color: cadetblue;
    }
  }

  &-links-wrapper {
    display: flex;

    &-link {
      margin: 0 10px;
    }
  }
}

.may-header-mobile {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid gray;

  img {
    width: 30px;
    height: 30px;
  }

  &-logo {
    width: 30px;
    height: 30px;
  }
}