
.comm-div {
  margin-left: 15px;
  width: 90%;
  align-items: center;
  justify-content: center;
  border: solid 2px gray;
  text-align: center;




  .comm-info {
    font-size: 18px;
    padding-bottom: 20px;
    color: darkblue;
  }

  .comm-box{
    font-size: 16px;

    .email {
      font-style: italic;
    }
  }
}