@keyframes ldio-ti5osivpvya {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.44, 1.44);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-ti5osivpvya div > div {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #93dbe9;
  animation: ldio-ti5osivpvya 1s linear infinite;
}
.ldio-ti5osivpvya div:nth-child(1) > div {
  left: 140px;
  top: 86px;
  animation-delay: -0.8333333333333334s;
}
.ldio-ti5osivpvya > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 154px 100px;
}
.ldio-ti5osivpvya div:nth-child(2) > div {
  left: 113px;
  top: 133px;
  animation-delay: -0.6666666666666666s;
}
.ldio-ti5osivpvya > div:nth-child(2) {
  transform: rotate(60deg);
  transform-origin: 127px 147px;
}
.ldio-ti5osivpvya div:nth-child(3) > div {
  left: 59px;
  top: 133px;
  animation-delay: -0.5s;
}
.ldio-ti5osivpvya > div:nth-child(3) {
  transform: rotate(120deg);
  transform-origin: 73px 147px;
}
.ldio-ti5osivpvya div:nth-child(4) > div {
  left: 32px;
  top: 86px;
  animation-delay: -0.3333333333333333s;
}
.ldio-ti5osivpvya > div:nth-child(4) {
  transform: rotate(180deg);
  transform-origin: 46px 100px;
}
.ldio-ti5osivpvya div:nth-child(5) > div {
  left: 59px;
  top: 39px;
  animation-delay: -0.16666666666666666s;
}
.ldio-ti5osivpvya > div:nth-child(5) {
  transform: rotate(240deg);
  transform-origin: 73px 53px;
}
.ldio-ti5osivpvya div:nth-child(6) > div {
  left: 113px;
  top: 39px;
  animation-delay: 0s;
}
.ldio-ti5osivpvya > div:nth-child(6) {
  transform: rotate(300deg);
  transform-origin: 127px 53px;
}
.loadingio-spinner-spin-ato81vhk9sn {
  transform: translate(100px, 0);
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ti5osivpvya {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ti5osivpvya div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
