.may-user-card {
  max-width: 300px;
  margin: 10px 20px;
  padding: 10px;

  &-avatar {
    width: 75px;
    height: 75px;
    margin: 0 auto;
  }
  .card-text {
    font-size: 14px;
  }

  .card-title {
    font-size: 16px;
  }
}